@font-face {
    font-family: "FontAwesome";
    src: url("/ArduinoPoSlovensky/Produkty/fonts/fontawesome-webfont.woff") format('woff');
}

@font-face {
    font-family: "kg_second_chances_solidRg";
    src: url("/ArduinoPoSlovensky/Produkty/fonts/kgsecondchancessolid-webfont.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/ArduinoPoSlovensky/Produkty/fonts/RobotoCondensed-Regular-webfont.woff") format('woff');
}

.star-ratings-sprite {
  background: url("https://freenetszm.github.io/ArduinoPoSlovensky/Produkty/images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  float: left;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 55px;
  margin: 5px 5px 5px 15px;
  font: normal normal normal normal 15px / 21.4286px "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.star-ratings-sprite-rating {
  background: url("https://freenetszm.github.io/ArduinoPoSlovensky/Produkty/images/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 10px;
  display: block;
}

#inner { 
  height: 100%; 
  width: 100%; 
  display: table;  
}    

.inner { 
  height: 100%; 
  width: 100%; 
  display: table;  
} 

.banner_shadow {
    box-shadow: rgb(170, 170, 170) 5px 5px 5px 0px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    height: 182px;
}

.bannerID {
  margin: 2px; 
  padding: 2px; 
  height: 190px; 
  float:left; 
  width: 465px;
}

#PRODUKT_IMG {
    float: left;
    height: 150px;
    width: 170px;
}

.ID_IMG {
    height: 150px;
    width: 150px;
}

.POPIS {
    height: 130px;
    font: normal normal normal normal 15px / 21.4286px "Roboto Condensed", Helvetica, Arial, sans-serif;    
    padding: 0px 10px 0px 0px;
}

.NADPIS {
    height: 30px;
    font: normal normal normal normal 16px / 17.6px kg_second_chances_solidRg;
    margin: 20px 0px 10px;
}

#DOWN {
    border-top: 1px solid rgb(170, 170, 170);
    padding: 5px;
}

#PRICE {
    color: rgb(0, 128, 0);
    float: left;
    font: normal normal normal normal 15px / 21.4286px "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.KUP {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-decoration: none;    
    width: 60px;
    height: 25px;
    background: rgb(51, 122, 183) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(46, 109, 164);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / 21px "Roboto Condensed", Helvetica, Arial, sans-serif;
    margin: -4px 0px 0px;
    padding: 1px 5px; 
}

#KUP_PRED:before {
    content: '';
    font: normal normal normal normal 14px / 14px FontAwesome;
}

#KUP_ZA:before {
    content: '';
    font: normal normal normal normal 14px / 14px FontAwesome;
}

#DOWN_R {
    float: right;
}

#IMG_ALI {
    vertical-align: middle;
    float: left;
}
